.box {
  color: white;
  text-align: center;

  background-color: blue;
  height: 500px;
  width: 600px;
  border: 2px solid gold;
}

@media (max-width: 800px) {
  .box {
    background-color: red;
    height: 300px;
    width: 400px;
    border: 2px solid greenyellow;
  }
}
